.container{
  height : 620px;
  display: table;
  
  /* Reset the container */
  width: 1140px;
  max-width: none !important;
}

.row {
  height: 100%;
  display: table-row;
  padding-right: 10px;

}

.col-xs-3, .col-xs-9, .col-xs-2, .col-xs-12, .col-xs-1, .col-xs-8
{
    display: table-cell;
    margin-top: 10px;
/*     padding-right: 80px;     */
}

.container-full{
  margin: 10 auto;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}