
<!-- <div class="row"> -->
  <div clustered-map lat="55.4" long="12.34" id="leaflet_map"></div>
<!-- </div> -->

<div class="row" id="buttons_container">

  <!-- Show/Hide clusters -->
  <div class="col-md-2 col-md-2 col-md-offset-8">  
    <span class="input-group-addon">
      <input type="radio" name="optionsRadios" ng-click="map_layer('clusters')" checked> Clusters
    </span>    
    <span class="input-group-addon">
      <input type="radio" name="optionsRadios" ng-click="map_layer('circles')"> Outbreaks
    </span>                                               
  </div>
</div>
<div class="row"></div>
  <!-- Group by button -->
  <div id ="grouping_buton" class="col-md-2 col-md-offset-1" class="btn-group">
    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
      Group by: <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a ng-click="groupingBy('id')">by ID</a></li>
      <li><a ng-click="groupingBy('city')">by City</a></li>
      <li><a ng-click="groupingBy('country')">by Country</a></li>
    </ul>
  </div>                  
   
  <!-- Source picker -->
  <div attribute-picker class="col-md-2" id="source-pick"  data="sources" name="Source">
  </div>
  
  <!-- Genus picker -->
  <div attribute-picker class="col-md-3" id="genus-pick" data="genus" name="Genus"></div>
  
  <!-- Species picker -->
  <div attribute-picker class="col-md-3" id="specie-pick" data="species" name="Species"></div>
                              
</div> <!-- /buttons_container -->

<div class="row" id="map_container"> 
      <!-- Map -->
<!--
      <div class="col-md-10 col-lg-10">
        <div clustered-map lat="55.4" long="12.34" id="leaflet_map"></div>
      </div>
-->
      
      <!-- Side Visualizations -->
      <div class="col-md-2 col-md-offset-10">
          <div class="row">
          
             <!-- Country Pie --> 
             <div id="country-pie">
                  <attribute-picker id="country-pick" data="countries" name="Countries">
                  </attribute-picker>
                  <pie-chart id="countries-pie" data="countries"></pie-chart>
              </div>
           </div><!-- /row -->
           
           <div class="row">    
              <!-- Pathogenic distribution -->
              <div id="path-dist">
                <row-chart id="path-chart" name="Pathogenic" data="pathogenic"></row-chart>
              </div>
          </div><!-- /row --> 
      </div><!-- /col --> 
</div><!-- /map_container -->     

<!-- Time Line -->
<div class="row" id="timeLine">
  <time-line class="col-md-12 col-lg-12" id="time-line-chart" data="timeline" name="Time Line"></time-line>
</div>                   
<!-- /Time Line -->
