<div class="container-full">

    <div class="row" id="buttons_container">
        
        <div class="col-lg-12">
            <div class="row">
                <!-- Show/Hide clusters -->
                <div class="col-lg-2">  
                  <span class="input-group-addon">
                    <input type="radio" name="optionsRadios" ng-click="map_layer('clusters')" checked> Show clusters
                  </span>    
                  <span class="input-group-addon">
                    <input type="radio" name="optionsRadios" ng-click="map_layer('circles')"> Hide clusters
                  </span>                                               
                </div>   

                <!-- Group by button -->
                <div id ="grouping_buton" class="col-lg-2 col-md-offset-1" class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Group isolates by: <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="groupingBy('id')">by ID</a></li>
                    <li><a ng-click="groupingBy('city')">by City</a></li>
                    <li><a ng-click="groupingBy('country')">by Country</a></li>
                  </ul>
                </div>                  
                 
                <div class="col-lg-6">
                  <!-- Source picker -->
                  <div id="source-chart">
                      <attribute-picker id="source-pick"  data="sources" name="Source"></attribute-picker>
                  </div>
                  
                  <!-- Genus picker -->
                  <div id="genus-chart">
                      <attribute-picker id="genus-pick" data="genus" name="Genus"></attribute-picker>
                  </div>
                  
                  <!-- Species picker -->
                  <div id="species-chart">
                      <attribute-picker id="specie-pick" data="species" name="Species"></attribute-picker>
                  </div>
                </div>                 
            </div>
        </div><!-- /col -->                    
    </div> <!-- /buttons_container -->

    <div class="row" id="map_container"> 
          <!-- Map -->
          <div class="col-lg-10">
            <div clustered-map lat="55.4" long="12.34" id="leaflet_map"></clustered-map>
          </div>
          
          <!-- Side Visualizations -->
          <div class="col-lg-2">
              <div class="row">
              
                 <!-- Country Pie --> 
                 <div id="country-pie">
                      <attribute-picker id="country-pick" data="countries" name="Countries">
                      </attribute-picker>
                      <pie-chart id="countries-pie" data="countries"></pie-chart>
                  </div>
               </div><!-- /row -->
               
               <div class="row">    
                  <!-- Pathogenic distribution -->
                  <div id="path-dist">
                    <row-chart id="path-chart" name="Pathogenic" data="pathogenic"></row-chart>
                  </div>
              </div><!-- /row --> 
          </div><!-- /col --> 
    </div><!-- /map_container -->     

    <!-- Pathgenic distribution -->
<!--
    <div class="row">
        <div class="col-lg-12">
            <div id="path-line">
              <line-chart id="patho-line" data="pathogenity" name="Pathogenic"></line-chart>
            </div>        
        </div> 
    </div>
-->

  <!-- Time Line -->
  <time-line class="row" id="time-line-chart" data="timeline" name="Time Line"></time-line>                   
  <!-- /Time Line -->
     
</div> <!-- /container-full" -->