<!-- Template for selectable picker -->

<div chart-id="{{chart-id}}" id="{{id}}"> 
<!--   <strong >{{name}} </strong> -->
  <a ng-if="selected != name" class="reset" ng-click="resetDimension()" style="display: inline;">
      reset
  </a>  
  <div class="btn-group">
    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
        {{selected}}<span class="caret"></span>
    </button>            
    <ul class="dropdown-menu">
      <li ng-repeat = "element in elements">
        <span ng-click = "filterDimension(element)">
          {{element.key}}
        </span>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>