<!-- Template for selectable picker -->

<div chart-id="{{chart-id}}"> 
    <div id="{{id}}" class="btn-group col-md-2 col-md-offset-2">
        <strong>{{name}} </strong>
        <div class="btn-group col-md-2 col-md-offset-2"></div>
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                {{selected}}<span class="caret"></span>
            </button>            
            <ul class="dropdown-menu">
              <li ng-repeat = "element in elements">
                <span ng-click = "filterDimension(element)">
                  {{element.key}}
                </span>
              </li>
            </ul>
            <a class="reset" ng-click="resetDimension()" style="display: inline;">
                reset
            </a>
            <div class="clearfix"></div>
    </div>
</div>