<div class="col-lg-2">
    <div id="time-line-day">
        <a class="reset_2" href="javascript:volumeChartDay.filterAll();dc.redrawAll();" 
            style="display: block;">reset</a>
        <div class="clearfix"></div>
    </div>  
</div>  
<div class="col-lg-2">
    <div id="time-line-month">
        <a class="reset_2" href="javascript:volumeChartMonth.filterAll();dc.redrawAll();" 
            style="display: block;">reset</a>
        <div class="clearfix"></div>
    </div>  
</div>  
<div class="col-lg-8">
    <div id="time-line-all">
        <a class="reset_2" href="javascript:volumeChart.filterAll();dc.redrawAll();" 
            style="display: block;">reset</a>
        <div class="clearfix"></div>
    </div>  
</div> 